@font-face {
  font-display: swap;
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 700;
  src: local('Georgia Bold');
}

@font-face {
  font-display: swap;
  font-family: 'Exo 2';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/exo-2-v21-cyrillic_latin-regular.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Exo 2';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/exo-2-v21-cyrillic_latin-500.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Exo 2';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/exo-2-v21-cyrillic_latin-600.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Exo 2';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/exo-2-v21-cyrillic_latin-700.woff2') format('woff2');
}

/* Page */
.page {
	--black: #000;
	--white: #FFFFFF;
	--red: #DE0A14;
	--red-hover: #bf0007;
	--yellow: #FFD000;
	--yellow-hover: #f4c121;
	--grey: #828282;
	--grey-light: #F4F3F3;
	--border: #DFDFDF;
	--field: #EBEAEA;
	font-family: "Exo 2", sans-serif;
	font-weight: 400;
	font-size: 18px;
	color: var(--grey);
	background-color: var(--grey-light);
	min-width: 360px;
}

a {
	text-decoration: none;
}

img {
	max-width: 100%;
}

.accent-text {
	color: var(--red);
}

/* Header */
.header {
	background-color: var(--white);
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.03);
	position: static;
}

.header__content {
	display: grid;
	justify-content: stretch;
	position: relative;
}

.header_sticky {
	position: sticky;
	top: 0;
	transform: translateY(0%);
	transition: transform 0.4s ease-out;
	width: 100%;
	max-width: 100%;
	min-height: initial;
	z-index: 3;
}

.header__menu {
	box-sizing: border-box;
	padding: 0 20px;
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.03);
	background-color: var(--white);
	max-width: 100%;
	z-index: 1;
}

@media screen and (max-width: 1360px) {
	.header__menu {
		width: 100%;
		position: absolute;
		bottom: 0;
		transform: translateY(100%);
	}
}

.menu__list {
	max-width: 1360px;
	margin: 0 auto;
	list-style: none;
	padding: 20px 0;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	row-gap: 65px;
}

@media screen and (max-width: 1360px) {
	.menu__list {
		display: block;
		columns: 160px 4;
		column-gap: 60px;
	}
	.menu__item {
		padding: 15px 0;
	}
}

.menu__link {
	font-family: "Exo 2", sans-serif;
	font-weight: 500;
	font-size: 14px;
	line-height: 1.3;
	color: var(--grey);
}

.menu__link:hover {
	color: var(--red);
}

.header__main {
	width: 100%;
	max-width: 1360px;
	margin: 0 auto;
	padding: 25px 20px;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	gap: 90px;
	justify-content: space-between;
}

@media screen and (max-width: 1360px) {
	.header__main {
		gap: 40px;
	}
}

.logo__img {
	width: 255px;
	height: 50px;
}

@media screen and (max-width: 400px) {
	.logo__img {
		width: 205px;
		height: 40px;
	}
}

.header__loans {
	display: block;
	margin: 0;
	margin-bottom: 10px;
	font-family: "Exo 2", sans-serif;
	font-weight: 400;
	font-size: 14px;
	line-height: 1.3;
	color: var(--grey);
}

.header__address {
	font-family: "Exo 2", sans-serif;
	font-style: normal;
	font-weight: 600;
	font-size: 14px;
	line-height: 1.1;
	color: var(--black);
}

.header__address::before {
	content: '';
	display: inline-block;
	width: 14px;
	height: 18px;
	margin-right: 9px;
	background-image: url('../img/location.svg');
	background-repeat: no-repeat;
	vertical-align: middle;
}

.header__contacts {
	align-self: stretch;
	display: flex;
	flex-direction: column;
	margin-left: auto;
}

.header__tel {
	align-content: center;
	margin-bottom: 9px;
	font-family: "Exo 2", sans-serif;
	font-weight: 600;
	font-size: 21px;
	color: var(--black);
}

.header__tel:hover {
	color: var(--red);
}

.header__tel-action {
	font-family: "Exo 2", sans-serif;
	font-weight: 400;
	font-size: 14px;
	color: var(--grey);
}

.header__tel-action:hover {
	color: var(--red);
}

.header__action {
	width: 171px;
	height: 51px;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: var(--red);
	border-radius: 8px;
	font-family: "Exo 2", sans-serif;
	font-weight: 700;
	font-size: 14px;
	color: #fff;
	text-decoration: none;
}

.header__action:hover {
	background-color: var(--red-hover);
}

/* Popup menu */
.header__popup-btn {
	align-self: center;
	display: none;
	width: 40px;
	height: 40px;
	padding: 0;
	border: none;
	background-image: url('../img/menu.svg');
	background-color: transparent;
}

.header__popup-btn_close {
	background-image: url('../img/close.svg');
}

@media screen and (max-width: 1400px) {
	.header__popup-btn {
		display: block;
	}
	.header__content {
		box-sizing: border-box;
		position: absolute;
		display: grid;
		grid-template-columns: auto auto auto min-content;
		grid-template-rows: repeat(4,auto);
		row-gap: 40px;
		width: 100%;
		padding: 20px 20px 40px 20px;
		background-color: white;
		z-index: 1;
	}
	.header__menu {
		grid-row: 2 / 3;
		grid-column: 1 / 5;
		transform: none;
		position: static;
		box-shadow: none;
		padding: 0;
	}
	.menu__list {
		padding: 0;
	}
	.header__main {
		display: contents;
	}
	.logo {
		grid-row: 1 / 2;
		grid-column: 1 / 3;
	}
	.header__about {
		grid-row: 3 / 4;
		grid-column: 1 / 3;
	}
	.header__contacts {
		grid-row: 4 / 5;
		grid-column: 1 / 2;
		margin-left: 0;
	}
	.header__action {
		grid-row: 1 / 2;
		grid-column: 3 / 4;
		margin-right: 90px;
		margin-left: auto;
	}
	.header__popup-btn {
		grid-row: 1 / 2;
		grid-column: 4 / 5;
		justify-self: end;
	}
}

@media screen and (max-width: 768px) {
	.header__action {
		grid-row: 4 / 5;
		grid-column: 2 / 3;
	}
}

.no-menu {
	row-gap: 0;
	padding: 20px 20px 20px 20px;
}

.in-menu {
	grid-row: 4 / 5;
	grid-column: 2 / 3;
	margin-left: 90px;
	margin-right: 0;
}

@media screen and (max-width: 660px) {
	.header__content {
		grid-template-rows: repeat(5, auto);
	}
	.header__about {
		grid-row: 3 / 4;
		grid-column: 1 / 5;
	}
	.header__contacts {
		grid-row: 4 / 5;
		grid-column: 1 / 5;
	}
	.header__action {
		grid-column: 1 / 5;
	}
	.in-menu {
		width: 100%;
		grid-row: 5 / 6;
		margin-left: 0;
	}
}

.header__tel_sticky {
	display: none;
	min-height: 51px;
	margin-bottom: 0;
	grid-row: 1 / 2;
	grid-column: 1 / 3;
}

.header_sticky .header__tel_sticky {
	display: block;
}

.header_sticky .logo {
	display: none;
}

/* Intro */
.intro {
	max-width: 1920px;
	margin: 0 auto;
	margin-bottom: 120px;
	background-image: url('../img/car_compr.png'), url('../img/bg-circle.svg');
	background-repeat: no-repeat;
	background-position: 100% 0%, 162% 130%;
}

@media screen and (min-width: 768px) and (max-width: 1750px) {
	.intro {
		background-position: 100% 40%, calc(100% + 250px) 40px;
	}
}

@media screen and (min-width: 768px) and (max-width: 1400px) {
	.intro {
		background-position: 100% 50%, calc(100% + 250px) 120px;
	}
}

@media screen and (min-width: 1080px) and (max-width: 1750px) {
	.intro {
		background-size: 600px, 520px;
	}
}

@media screen and (max-width: 1360px) {
	.intro {
		margin-bottom: 45px;
	}
}

@media screen and (max-width: 1080px) {
	.intro {
		background-size: 400px, 420px 420px;
	}
}

@media screen and (max-width: 768px) {
	.intro {
		background-image: none;
	}
}

.intro__content {
	max-width: 1360px;
	margin: 0 auto;
	padding: 120px 20px;
}

@media screen and (max-width: 768px) {
	.intro__content {
		min-height: 660px;
		background-image: url('../img/car_compr.png'), url('../img/bg-circle.svg');
		background-repeat: no-repeat;
		background-size: 246px 139px, 202px 202px;
		background-position: 20% 85%, 40% 86%;
	}
}

@media screen and (max-width: 500px) {
	.intro__content {
		padding: 100px 20px;
		background-position: 20% 700px, 40% 660px;
	}
}

.intro__info {
	max-width: 670px;
}

.intro__heading {
	display: block;
	font-family: "Georgia", sans-serif;
	font-weight: 700;
	font-size: 50px;
	color: var(--black);
	margin-bottom: 50px;
}

@media screen and (max-width: 1750px) {
	.intro__heading {
		font-size: 40px;
	}
}

@media screen and (max-width: 768px) {
	.intro__heading {
		margin-bottom: 30px;
	}
}

@media screen and (max-width: 400px) {
	.intro__heading {
		font-size: 30px;
	}
}

.intro__list {
	list-style: none;
	padding-left: 40px;
	margin-bottom: 60px;
}

.intro__item {
	max-width: 550px;
	margin-bottom: 1em;
	position: relative;
	font-family: "Exo 2", sans-serif;
	font-weight: 400;
	font-size: 18px;
	color: var(--grey);
}

@media screen and (max-width: 1360px) {
	.intro__item {
		max-width: 450px;
	}
}

.intro__item::before {
	content: url('../img/flash-icon.svg');
	display: block;
	width: 24px;
	height: 24px;
	position: absolute;
	left: -40px;
}

.intro__action {
	width: 281px;
	height: 54px;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: var(--yellow);
	border-radius: 8px;
	font-family: "Exo 2", sans-serif;
	font-weight: 700;
	font-size: 16px;
	color: var(--black);
	text-decoration: none;
}

.intro__action:hover {
	background-color: var(--yellow-hover);
}

/* Steps */
.steps {
	max-width: 1360px;
	margin: 0 auto;
	padding: 0 20px;
}

.steps__list {
	counter-reset: steps '0' + 1;
	list-style: none;
	padding: 0;
	margin: 0;
	display: flex;
	overflow-x: hidden;
	gap: 45px;
	scrollbar-width: thin;
	touch-action: none;
}

@media screen and (max-width: 1380px) {
	.steps__list {
		cursor: pointer;
	}
}

.steps__item {
	counter-increment: steps 1;
	position: relative;
	box-sizing: border-box;
	flex-shrink: 0;
	width: 300px;
	min-height: 219px;
	padding: 40px;
	border-radius: 20px;
	background-color: var(--white);
	user-select: none;
}

.steps__item::before {
	content: '0' counter(steps);
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 10px;
	width: 46px;
	height: 46px;
	margin-bottom: 24px;
	background: var(--yellow);
	font-family: "Exo 2", sans-serif;
	font-weight: 600;
	font-size: 18px;
	text-align: center;
	color: #000;
}

.steps__item:not(:last-child)::after{
	content: '';
	position: absolute;
	top: 50%;
	right: -45px;
	transform: translateY(-50%);
	display: block;
	width: 45px;
	height: 45px;
	background-image: url('../img/arrow.svg');
	background-repeat: no-repeat;
}

.steps__item_last {
	--white: #000;
	--black: #fff;
	width: 325px;
}

.steps__text {
	margin: 0;
	font-family: "Exo 2", sans-serif;
	font-weight: 400;
	font-size: 18px;
	line-height: 1.3;
	color: var(--black);
}

.steps__tel {
	color: var(--black);
}

/* Assess */
.assess {
	box-sizing: border-box;
	max-width: 1360px;
	min-height: 514px;
	margin: 0 auto;
	margin-bottom: 90px;
	padding: 62px 80px 70px 65px;
	border-radius: 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap-reverse;
	gap: 40px;
	background-image: url('../img/bg-circle.svg');
	background-repeat: no-repeat;
	background-position: -17% 54%;
	background-size: 671px 671px;
}

@media screen and (max-width: 1360px) {
	.assess {
		justify-content: center;
		padding: 45px 20px 70px 20px;
	}
}

@media screen and (min-width: 1254px) and (max-width: 1380px) {
	.assess {
		justify-content: center;
		padding: 62px 20px 70px 20px;
	}
}

@media screen and (max-width: 1254px) {
	.assess {
		background-position: 30% 180%;
	}
}

@media screen and (max-width: 660px) {
	.assess {
		background-size: 544px;
		background-position: 50% 160%;
	}
}

@media screen and (max-width: 450px) {
	.assess {
		background-size: 297px;
		background-position: 10% 110%;
	}
}

.assess__graph {
	align-self: stretch;
	flex: 1 1 625px;
	max-width: 625px;
	min-height: 345px;
	margin-top: 46px;
	background-image: url('../img/car-2_compr.png');
	background-repeat: no-repeat;
	background-position: 100% 100%;
}

@media screen and (max-width: 660px) {
	.assess__graph {
		background-position: 50% 50%;
		background-size: 444px 247px;
		max-width: 444px;
		min-height: 247px;
	}
}

@media screen and (max-width: 450px) {
	.assess__graph {
		background-position: 50% 50%;
		background-size: contain;
		max-width: 274px;
		min-height: 152px;
	}
}

.assess__list {
	height: 100%;
	list-style: none;
	margin: 0;
	padding: 0;
	position: relative;
}

@media screen and (max-width: 660px) {
	.assess__list {
		max-width: 444px;
		margin: 0 auto;
	}
}

.assess__item {
	position: absolute;
	z-index: 1;
}

@media screen and (max-width: 660px) {
	.assess__item {
		width: 57px;
		height: 57px;
	}
}

@media screen and (max-width: 450px) {
	.assess__item {
		width: 35px;
		height: 35px;
	}
}

.assess__item_salon {
	top: -40px;
	right: 260px;
}
.assess__item_tech {
	top: 40px;
	left: 0;
}
.assess__item_body {
	top: 40%;
  right: 90px;
}
.assess__item_keys {
	bottom: 0;
	left: 140px;
}

@media screen and (max-width: 660px) {
	.assess__item_salon {
		top: 0;
		left: 40%;
	}
	.assess__item_tech {
		left: 5%;
	}
	.assess__item_body {
		right: 20%;
	}
	.assess__item_keys {
		bottom: 0;
		left: 20%;
	}
}

.assess__img {
	border-radius: 50%;
	position: relative;
	z-index: 2;
}

.assess__feature {
	position: absolute;
	top: 50%;
	right: 15px;
	transform: translate(100%, -50%);
	display: block;
	width: max-content;
	margin: 0;
	padding: 10px 0 15px 30px;
	font-family: "Exo 2", sans-serif;
	font-weight: 600;
	font-size: 18px;
	line-height: 1;
	color: var(--black);
	background-color: var(--white);
	z-index: 1;
}

.assess__feature::after {
	position: absolute;
	top: 0;
	right: 0;
	transform: translateX(50%);
	content: '';
	display: block;
	width: 40px;
	height: 100%;
	border-radius: 50%;
	background-color: var(--white);
	z-index: -1;
}

@media screen and (max-width: 660px) {
	.assess__feature {
		font-size: 16px;
		padding: 7px 0 8px 20px;
	}
	.assess__feature::after  {
		width: 25px;
	}
}

.assess__content {
	max-width: 550px;
}

.assess__heading {
	margin: 0;
	margin-bottom: 30px;
	font-family: "Georgia", sans-serif;
	font-weight: 700;
	font-size: 36px;
	line-height: 1.2;
	color: var(--black);
}

.assess__text {
	margin: 0;
	margin-bottom: 15px;
	font-family: "Exo 2", sans-serif;
	font-weight: 400;
	font-size: 18px;
	line-height: 1.3;
	color: var(--grey);
}

.assess__text:last-of-type {
	margin-bottom: 40px;
}

.assess__action {
	width: 228px;
	height: 54px;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: var(--yellow);
	border-radius: 8px;
	font-family: "Exo 2", sans-serif;
	font-weight: 700;
	font-size: 16px;
	color: var(--black);
}

.assess__action:hover {
	background-color: var(--yellow-hover);
}

/* JS */
.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
